html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  body {
    box-sizing: border-box;
  }

  div {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 1.125rem;
    margin: auto;
    border: 1px solid brown;
    border-radius: 10px;
    background-color: red;
    background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
    color: white;
    text-shadow: 1px 1px #000000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6), 3px 3px 3px black;
    
  }